@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Avenir, Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.react-datepicker__portal {
  @apply bg-stone-200/80 dark:bg-slate-900/70 fixed inset-0 flex items-center justify-center;
}
.react-datepicker {
  @apply transform-none dark:bg-slate-800 bg-stone-300 z-10 px-3 py-3 text-sm border-2 border-gray-200 border-none rounded shadow;
}
.react-datepicker__input-container input {
  @apply md:text-sm dark:bg-slate-800 bg-stone-300 block w-full text-base border border-gray-300 rounded;
}
.react-datepicker-popper {
  @apply w-80 dark:bg-slate-900 rounded-2xl z-40 px-3 pt-2 pb-4 text-sm bg-white;
}
.react-datepicker-left {
  @apply top-11 transform-none absolute left-0 right-auto;
}
.react-datepicker-right {
  @apply top-11 transform-none absolute right-0 left-auto;
}
.react-datepicker__month-container {
  @apply flex flex-col;
}
.react-datepicker__month {
  @apply gap-y-0.5 flex flex-col;
}
.react-datepicker__week {
  @apply flex justify-around;
}
.react-datepicker__day-names {
  @apply dark:text-gray-300 flex justify-around text-xs font-medium text-center text-gray-400;
}
.react-datepicker__day-name {
  @apply flex items-center justify-center flex-shrink-0 w-8 h-8 py-1 rounded-full;
}
.react-datepicker__navigation {
  @apply top-2 absolute;
}
.react-datepicker__navigation--previous {
  @apply right-12 hover:bg-gray-200 flex items-center justify-center w-8 h-8 transition rounded;
}
.react-datepicker__navigation--next {
  @apply right-4 hover:bg-gray-200 flex items-center justify-center w-8 h-8 transition rounded;
}
.react-datepicker__day {
  @apply dark:text-gray-300 flex items-center justify-center w-10 h-10 py-1 text-sm font-bold leading-loose text-gray-700 transition rounded;
}
.react-datepicker__day--disabled {
  @apply opacity-40 hover:bg-transparent cursor-not-allowed;
}
.react-datepicker__day--outside-month {
  @apply dark:text-gray-700 text-gray-400;
}
.react-datepicker__day--in-range {
  @apply bg-gray-200;
}
.react-datepicker__day--in-selecting-range {
  @apply bg-blue-200;
}
.react-datepicker__day--selecting-range-start {
  @apply bg-stone-200 border-2 border-blue-500;
}
.react-datepicker__day--selecting-range-end {
  @apply bg-stone-200 border-2 border-blue-500;
}
.react-datepicker__day--selected {
  @apply text-white bg-blue-500 rounded-full;
}
.react-datepicker-time__caption {
  @apply hidden;
}
.react-datepicker__day--today {
  @apply after:content-['Today'] relative font-semibold after:absolute after:text-[8px] after:font-bold after:text-blue-700 after:dark:text-blue-400 after:bottom-[0px] after:tracking-tight;
}
.react-datepicker__day--selected {
  @apply after:text-blue-200 !important;
}
.react-datepicker-time__input {
  @apply px-1;
}
